<h1>Home Page</h1>

<h3>Let's create a new user.</h3>
<%= form_tag create_users_path do %>
	<%= text_field_tag :name, nil, placeholder: "Enter Your Name" %>
	
	<%= number_field_tag :age, nil, placeholder: "Enter Your Age" %>
	
	<%= submit_tag "Create New User" %>
	
	<% end %>

	<h3>Let's create a new product</h3>
		<%= form_for @product do |f| %>
			<%= f.text_field :name, placeholder: "Enter Product Name" %>

			<%= f.number_field :price, placeholder: "Enter price" %>
			<%= f.number_field :quantity, placeholder: "Enter quantity" %>
			<%= f.submit "Create Product" %>

			<% end %>

